@font-face {
	font-family: "ChunkFiveRegular";
	src: url("fonts/chunkfive.eot");
}

thead {
		text-decoration: underline solid;
		text-align: left;
	}
	tbody {
		text-align: left;
	}
	tfoot {
		text-align: left;
		text-decoration: overline solid;
	}
	
	th {
		width: 50px;
		height: 20px;
		text-align: center;
		
	}
	td {
		text-align: center;
	}
	.table3  {
		border-style: double;
		width: 350px;
	}
	#enter_input {
		width: 150px;
		height: 30px;
		border-style: outset;
	} 
	.garden {
		border-color: red;
		border-style: dashed;
		border-width: 2px;
		width: 800px;
		text-align: right;
		/* float: left; */
		/* display: inline-block; */
		/* margin: 0 auto; */
		/* border: inherit; */
	}
	
	.garden_h1 {
	
		margin-left: 20px;
		border: 2px solid red;
		margin-right: 20px;
		/* margin-right: 100px; */
	}
		.garden p {
		/* opacity: 0.1; */
		font-family: Georgia,Times,serif;
		font-size: 1em;
		border-color: red;
		border-width: 2px;
		border-style: solid;
		padding: 20px 0px 20px 10px;
		margin-left: 20px;
		margin-right: 20px;
		background-color: hsla(360,0%,0%,0.1);
		font-weight: bold;
		text-align: center;
		/* font-style: oblique; */
	}
	.garden p~p {
		font-style: italic;
		text-transform: uppercase;
		text-transform: capitalize;
		line-height: 3em;
		letter-spacing: 0.1em;
		word-spacing: 1em;
		text-align: center;
		/* text-decoration: line-through; */
	}
	.cottage {
		border: 2px solid blue;
		text-decoration: underline double;
		padding: 10px 0 10px 0;
	}
		/* li+li {
		color: red;
	} */
	th~th {
		color: purple;
	}
	ul~ol {
		color: red;
	}
	ul,ol {
		position: relative;
		left: 20px;
	}
	.img_1 {
		position: relative;
		margin: 100px;
		height: 50%;
		width: 50%;
		/* float: left; */
		/* display: inline-block; */
		vertical-align: super;
	}
	.divImg {
		border: 5px blue solid;
		word-break: break-all;
		word-wrap: break-word;
		width: 500px;
		height: auto;
		margin: 0 auto;
		border-radius: 10%
	}
	/* .divImg p {
		width: auto;
		max-height: auto;
		border:5px red solid;
		border-radius: 10%;
		text-align: justify;
		vertical-align: text-top;
		text-indent: 100px;
		background-image: url(me.jpg);
		text-shadow: 10px -10px 1px red;
	} */
	.garden p:first-letter {
		color: red;
		font-style: solid;
		font-size: xx-large;
	} 
	.garden p:first-line {
		color: yellow;
	}
	.garden_a:link{
		color: deeppink;
		
	}
	.garden_a:visited {
		text-decoration: line-through;
	}
	.garden_a:hover {
		color: red;
	}
	.garden_a:active {
		text-decoration: line-through;
	}
	.garden_a:focus {
		text-decoration: overline;
	}
	/* a[href^="http"] {
   background: url(me.jpg) no-repeat;
   padding-left: 10px;
} */
	a[href$=".jpg"] {
  		color: black;
	}
	.test {
		width: 100px;
		height:100px;
		border:5px red dotted;
		border-radius: 50%;
		overflow: scroll;
		float: right
	}
	.test p {
		width: 100%;
		/* word-break: break-all; */
		word-wrap: break-word;
	}
	.baiduclass a {
		text-transform: uppercase;
		color: red;
		display: block;

	}
	.baiduclass {
		text-transform: capitalize;
	}
	.baiduclass p~p {
		color: purple;
		display: none;
	}
	.oltest li {
		display: inline;
		visibility: visible;
	}
	/* p,th,td,div,img,h1,table,form {
		display: inline;
		border-width: 100px;
		-moz-border-image:  url(me.jpg);
	} */
	.twoimg img {
		text-decoration: overline;
		text-decoration: underline;

		width: 200px;
		height: 170px;
		margin: 20px
	}
	.twoimg {
		text-align: center;
		margin: 0 auto;
		font-size: 0;
		/* text-align: center; */
		width: 800px;
		height: 190px;
		border-color: red;
		/* margin: 0 auto; */
		border-top-width: 2px;
		border-top-style: solid;
		/* border: 10px purple solid; */

	}

	.twoimg img~img {
		/* position: relative; */
		/* right: 20px; */
		display: inline;
		padding-left: 0px;
		margin: 0;
	}
	.twoimg>img {

		 margin-top: 20px;
		 position: relative;
		 left: 10px;
		 margin: 0px;
	}
	/* .twoimg img+img {
		margin: 20px;
	} */
	.twoimg img {
		vertical-align:middle;
		padding-top: 20px;
	}




















